:root {
    --primary-color: #29bc24;
    --secondary-color: #2f33b8;
    --text-dark: #020617;
    --text-light: #94a3b8;
    --extra-light: #e2e8f0;
    --white: #ffffff;
    --gradient-1: linear-gradient(to right, #7ded9f, #2f33b8, #e0e0e2);
    --gradient-2: linear-gradient(to right, #4fcb51, #28a4a9, #7ed6d8);
    --max-width: 100vw; 
}

.login-button {
    padding: 1vw 2vw;
    border: 0.2vw solid #2c2c2c;   
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;  
    cursor: pointer;
    border-radius: 3vw;   
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.login-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.login-button:hover::after {
    transform: scale(4);
}

.login-button:hover {
    border-color: #666666;
    background: #292929;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

body {
    background-image: url('images/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1vh;   
    background: rgb(0, 0, 0);
}

header, section {
    position: relative;
    z-index: 1;
}

.mom {
    font-size: 2vw;   
    font-weight: bold;
    color: #2f33b8;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1vw;   
    color: white;
}

.logo img {
    height: 10vh;   
    width: auto;
    vertical-align: middle;
}

.menu {
    display: flex;
    align-items: center;
}

.mid {
    margin: 3.125vh 0;   
}

h1 {
    font-size: 3vw;    
}

.container {
    text-align: left;
    background: #222;
    padding: 3vw;   
    border-radius: 1vw;            
    width: 30vw;             
}

h2 {
    font-size: 2.2vw;   
    margin-bottom: 1vw;   
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5vw;   
}

input {
    background: #333;
    color: white;
    border: none;
    padding: 1.25vw;   
    font-size: 1vw;   
    border-radius: 0.5vw;  
    outline: none;
}

input::placeholder {
    color: #888;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;   
    max-width: 100vw;  
    margin: 0 auto;
    padding: 2vw;   
}

.form {
    background: rgb(75, 75, 75);
    padding: 2vw;  
    border-radius: 1vw;  
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);   
}

.button {
    position: relative;
    left: 50%;
}

.continue-btn {
    background-color: #00eeff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 2vw;   
    font-size: 1vw;   
    border-radius: 0.5vw;   
    cursor: pointer;
    width: 30vw;   
    opacity: 0.7;
    font-weight: bold;
}

.continue-btn.enabled {
    opacity: 1;
    cursor: pointer;
}

.continue-btn:hover:enabled {
    background-color: #2f33b8;
    opacity: 1;
    transform: scale(1.2); 
    font-weight: bold;
    color: white;
}

/* Footer styles */
.logo2 img {
    width: 3vw;   
    height: auto;
}

.logo2 {
    display: flex;
    align-items: center;
}

footer {
    background-color: #1a1a1a;
    width: 100%;
    position: relative;
}

.footer-content {
    max-width: 75vw;  
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;   
}



/* Extra Large */
@media (min-width: 62.5vw) {
    :root {
        --max-width: 100vw; 
    }
    
    .login-button {
        padding: 1vw 2vw;
        border: 0.2vw solid #2c2c2c;   
        font-size: 1.2rem;  
        border-radius: 3vw;   
    }
    
    .login-button::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        transform: scale(0);
    }
    
    .login-button:hover::after {
        transform: scale(4);
    }

    
    html, body {
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        position: relative;
    }
    
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    header {
        padding: 1vh;   
    }
    
    .mom {
        font-size: 2vw;   
    }
    
    .logo {
        gap: 1vw;   
    }
    
    .logo img {
        height: 10vh;   
        width: auto;
        vertical-align: middle;
    }
    
    .mid {
        margin: 3.125vh 0;   
    }
    
    h1 {
        font-size: 3vw;    
    }
    
    .container {
        padding: 3vw;   
        border-radius: 1vw;            
        width: 30vw;             
    }
    
    h2 {
        font-size: 2.2vw;   
        margin-bottom: 1vw;   
    }
    
    .input-container {
        margin-bottom: 1.5vw;   
    }
    
    input {
        padding: 1.25vw;   
        font-size: 1vw;   
        border-radius: 0.5vw;  
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;   
        max-width: 100vw;  
        margin: 0 auto;
        padding: 2vw;   
    }
    
    .form {
        padding: 2vw;  
        border-radius: 1vw;  
        box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);   
    }
    
    .button {
        left: 50%;
    }
    
    .continue-btn {
        padding: 2vw;   
        font-size: 1vw;   
        border-radius: 0.5vw;   
        width: 30vw;   
    }
    
    /* Footer styles */
    .logo2 img {
        width: 3vw;   
        height: auto;
    }
    
    footer {
        width: 100%;
    }
    
    .footer-content {
        max-width: 75vw;  
        padding: 2vw;   
    }
    
}

/* Large  */
@media (max-width: 62.45vw) {
    :root {
        --max-width: 100vw; 
    }
    
    .login-button {
        padding: 1vw 2vw;
        border: 0.2vw solid #2c2c2c;   
        font-size: 1.2rem;  
        border-radius: 3vw;   
    }
    
    .login-button::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        transform: scale(0);
    }
    
    .login-button:hover::after {
        transform: scale(4);
    }

    
    html, body {
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        position: relative;
    }
    
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    header {
        padding: 1vh;   
    }
    
    .mom {
        font-size: 2vw;   
    }
    
    .logo {
        gap: 1vw;   
    }
    
    .logo img {
        height: 10vh;   
        width: auto;
        vertical-align: middle;
    }
    
    .mid {
        margin: 3.125vh 0;   
    }
    
    h1 {
        font-size: 3vw;    
    }
    
    .container {
        padding: 3vw;   
        border-radius: 1vw;            
        width: 30vw;             
    }
    
    h2 {
        font-size: 2.2vw;   
        margin-bottom: 1vw;   
    }
    
    .input-container {
        margin-bottom: 1.5vw;   
    }
    
    input {
        padding: 1.25vw;   
        font-size: 1vw;   
        border-radius: 0.5vw;  
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;   
        max-width: 100vw;  
        margin: 0 auto;
        padding: 2vw;   
    }
    
    .form {
        padding: 2vw;  
        border-radius: 1vw;  
        box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);   
    }
    
    .button {
        left: 50%;
    }
    
    .continue-btn {
        padding: 2vw;   
        font-size: 1vw;   
        border-radius: 0.5vw;   
        width: 30vw;   
    }
    
    /* Footer styles */
    .logo2 img {
        width: 3vw;   
        height: auto;
    }
    
    footer {
        width: 100%;
    }
    
    .footer-content {
        max-width: 75vw;  
        padding: 2vw;   
    }
    
}

/* Medium  */
@media (max-width: 51.61vw) {
    :root {
        --max-width: 100vw; 
    }
    
    .login-button {
        padding: 1vw 2vw;
        border: 0.2vw solid #2c2c2c;   
        font-size: 1.2rem;  
        border-radius: 3vw;   
    }
    
    .login-button::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        transform: scale(0);
    }
    
    .login-button:hover::after {
        transform: scale(4);
    }

    
    html, body {
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        position: relative;
    }
    
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    header {
        padding: 1vh;   
    }
    
    .mom {
        font-size: 2vw;   
    }
    
    .logo {
        gap: 1vw;   
    }
    
    .logo img {
        height: 10vh;   
        width: auto;
        vertical-align: middle;
    }
    
    .mid {
        margin: 3.125vh 0;   
    }
    
    h1 {
        font-size: 3vw;    
    }
    
    .container {
        padding: 3vw;   
        border-radius: 1vw;            
        width: 30vw;             
    }
    
    h2 {
        font-size: 2.2vw;   
        margin-bottom: 1vw;   
    }
    
    .input-container {
        margin-bottom: 1.5vw;   
    }
    
    input {
        padding: 1.25vw;   
        font-size: 1vw;   
        border-radius: 0.5vw;  
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;   
        max-width: 100vw;  
        margin: 0 auto;
        padding: 2vw;   
    }
    
    .form {
        padding: 2vw;  
        border-radius: 1vw;  
        box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);   
    }
    
    .button {
        left: 50%;
    }
    
    .continue-btn {
        padding: 2vw;   
        font-size: 1vw;   
        border-radius: 0.5vw;   
        width: 30vw;   
    }
    
    /* Footer styles */
    .logo2 img {
        width: 3vw;   
        height: auto;
    }
    
    footer {
        width: 100%;
    }
    
    .footer-content {
        max-width: 75vw;  
        padding: 2vw;   
    }
    
}

/* Small  */
@media (max-width: 39.95vw) {
    :root {
        --max-width: 100vw; 
    }
    
    .login-button {
        padding: 1vw 2vw;
        border: 0.2vw solid #2c2c2c;   
        font-size: 1.2rem;  
        border-radius: 3vw;   
    }
    
    .login-button::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        transform: scale(0);
    }
    
    .login-button:hover::after {
        transform: scale(4);
    }

    
    html, body {
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        position: relative;
    }
    
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    header {
        padding: 1vh;   
    }
    
    .mom {
        font-size: 2vw;   
    }
    
    .logo {
        gap: 1vw;   
    }
    
    .logo img {
        height: 10vh;   
        width: auto;
        vertical-align: middle;
    }
    
    .mid {
        margin: 3.125vh 0;   
    }
    
    h1 {
        font-size: 3vw;    
    }
    
    .container {
        padding: 3vw;   
        border-radius: 1vw;            
        width: 30vw;             
    }
    
    h2 {
        font-size: 2.2vw;   
        margin-bottom: 1vw;   
    }
    
    .input-container {
        margin-bottom: 1.5vw;   
    }
    
    input {
        padding: 1.25vw;   
        font-size: 1vw;   
        border-radius: 0.5vw;  
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;   
        max-width: 100vw;  
        margin: 0 auto;
        padding: 2vw;   
    }
    
    .form {
        padding: 2vw;  
        border-radius: 1vw;  
        box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);   
    }
    
    .button {
        left: 50%;
    }
    
    .continue-btn {
        padding: 2vw;   
        font-size: 1vw;   
        border-radius: 0.5vw;   
        width: 30vw;   
    }
    
    /* Footer styles */
    .logo2 img {
        width: 3vw;   
        height: auto;
    }
    
    footer {
        /* width: 100%; */
        background-color: #1a1a1a;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 1vw 0;
    }
    
    .footer-content {
        max-width: 75vw;  
        padding: 2vw;   
    }
    
}

/* Extra Small  */
@media (max-width: 768px) {
    :root {
        --max-width: 100vw; 
    }
    
    .login-button {
        padding: 1vw 2vw;
        border: 0.2vw solid #2c2c2c;   
        font-size: 1.2rem;  
        border-radius: 3vw;   
    }
    
    .login-button::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        transform: scale(0);
    }
    
    .login-button:hover::after {
        transform: scale(4);
    }

    /* we apply flexbox */
    html, body {
        /* min-height: 100vh;
        margin: 0;
        padding: 0; */
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    body {
        margin: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        position: relative;
    }
    
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    header {
        padding: 1vh;   
    }
    
    .mom {
        font-size: 2vw;   
    }
    
    .logo {
        gap: 1vw;   
    }
    
    .logo img {
        height: 10vh;   
        width: auto;
        vertical-align: middle;
    }
    
    .mid {
        margin: 3.125vh 0;   
    }
    
    h1 {
        font-size: 3vw;    
    }
    
    .container {
        padding: 3vw;   
        border-radius: 1vw;            
        width: 30vw;             
    }
    
    h2 {
        font-size: 2.2vw;   
        margin-bottom: 1vw;   
    }
    
    .input-container {
        margin-bottom: 1.5vw;   
    }
    
    /* made text bigger for input */
    input {
        padding: 1.25vw;   
        font-size: 0.7rem;   
        border-radius: 0.5vw;  
    }
    
    /* make grid push footer downnnnn */
    .grid {
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;   
        max-width: 100vw;  
        margin: 0 auto;
        padding: 2vw;    */
        flex: 1;  /* Makes it take up remaining space */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
        max-width: 100vw;
        margin: 0 auto;
        padding: 2vw;
    }
    
    .form {
        padding: 2vw;  
        border-radius: 1vw;  
        box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);   
    }
    
    .button {
        left: 50%;
    }
    
    /* text for btn BIGGER */
    .continue-btn {
        padding: 2vw;   
        font-size: 0.7rem;   
        border-radius: 0.5vw;   
        width: 30vw;   
    }
    
    /* Footer styles */
    .logo2 img {
        width: 3vw;   
        height: auto;
    }
    
    footer {
        /* width: 100%; */
        background-color: #1a1a1a;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 1vw 0;
    }
    
    .footer-content {
        max-width: 75vw;  
        padding: 2vw;   
    }
    
}
