:root {
    --primary-color: #29bc24;
    --secondary-color: #2f33b8;
    --text-dark: #020617;
    --text-light: #94a3b8;
    --extra-light: #e2e8f0;
    --white: #ffffff;
    --gradient-1: linear-gradient(to right, #7ded9f, #2f33b8, #e0e0e2);
    --gradient-2: linear-gradient(to right, #4fcb51, #28a4a9, #7ed6d8);
    --max-width: 1200px;
  }
  html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}
body {
    background-image: url('/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: relative;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.body-card {
    background: #222;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: block; 
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease-in-out;
}
.body-card:hover {
    transform: scale(1.05); 
}

.body-card img {
    width: 100%;
    border-radius: 10px;
}

.body-card p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    background: rgb(0, 0, 0);
}
header, section {
    position: relative;
    z-index: 1;
}
.mom{
    font-size: 2rem;
    font-weight: bold;
    color: #2f33b8;
}
.logo {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: white;
}

.logo img {
    height: 10vh;
    width: auto;
    vertical-align: middle;
}
.menu {
    display: flex;
    align-items: center;
}

.mid {
    margin: 3.125rem 0;
}

h1{
    font-size: 3rem;
}

.container {
    max-width: 20vw;
    margin: 3.125rem auto;
}

.body-type-options {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: background 0.3s;
}
.body{
    padding: 1.875rem;
}
.option:hover {
    background-color: #333;
}

.option img {
    height: 20vh;
    width: auto;
    border-radius: 0.313rem;
}
.option span {
    font-size: 1.125rem;
    font-weight: bold;
    margin-left: 20px;
}

/* Footer styles */
.logo2 img {
    width: 3vw;
    height: auto;
}
.logo2 {
    display: flex;
    align-items: center;
}
footer {
    background-color: #1a1a1a;
    width: 100%;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}